html,body{
  background: white;
  width: 100%;
  margin: 0;
}

/* a */
a:link {text-decoration: none; color: #333333;}
a:visited {text-decoration: none; color: #333333;}
a:active {text-decoration: none; color: #333333;}
a:hover {text-decoration: underline; color: #333333;}

main{
  padding-bottom: 100px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#over{
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

/*nav*/
header {
  height: 70px;
  font-size: 1em;
  font-family :'Malgun Gothic', sans-serif;
}
nav {
  position: fixed;
  width: 100%;
  height: 80px;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #FFFFFF;;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
  border-bottom-right-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  z-index: 1;
}

nav img{
  margin: 10px;
}
nav ul{
  height: inherit;
  margin: 0;
}
nav ul li{
  display: inline;
  list-style: none;
  color: black;
  margin: 5px;
}

nav ul li a {
  display: inline;
  color: black;
  text-align: center; text-decoration: none;
}
.nav-left{
 margin-top: 25px;
 border-left: 2px solid black;
 padding: 0 10px;
}
.nav-right{
  border-left: 2px solid black;
  padding: 0 10px;
  margin-right: 0.5em;
  margin-top: 25px;
  color: black;
}

/* clearfix */
.clearfix:before, .clearfix:after{
	content:""; display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}

/* nav res */
@media only screen and (max-width : 600px) {
	nav {
		border-bottom: 0;
		height: auto;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
	nav a#pull {
		display: block;
		background-color: #FFFFFF;;
		width: 100%;

	}
	nav a#pull:after {
		content:"";
		background-image: no-repeat;
		width: 32px;
		height: 32px;
		display: inline-block;
    position: absolute;
    text-align: right;
  }

  .pull-right {
    float: left;
    margin: 5px;
    margin-top: 25px;
    border-left: 2px solid black;
    padding: 0 10px;
  }

  .pull {
    float: right;
  }

  .menubox {
    margin-top: 15px;
    margin-left: 430px;
    margin-right: 10px;
  }

	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #FFFFFF;;
  }

}

/*section title*/
.main_section{
  line-height: 600px;
  width: 100%;
  height: 640px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.8;
  margin-top : -70px;
}

.main_section h1{
  font-size: 78pt;
  color: black;
  opacity : 1;
}


/*footer*/
footer {
  width : 100%;
  text-align : center;
}

.container {
  width : 100%;
  min-height : 100px;
  margin-top : 15px;
  padding-top : 42px;
  font-size : 15px;
  text-align : center;
  background : #f2f2f2;
  border-radius: 10px;
}
