
footer {
  width : 100%;
  text-align : center;
  top : calc(100% - 45px);
  position : fixed;
}

.container {
  width : 800px;
  height : 45px;
  margin : auto;
  font-size : 12px;
  text-align : center;
  background : #f2f2f2;

}
