@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    line-height: 1; 
    background-color: #ebebeb;
    font: 300 17px 'Roboto', sans-serif;
}


#wrap{
    /* float: left; */
    width: 400px; height: 400px;
    background-color: white;
    margin: 150px auto 100px auto;
    border-radius: 0px;
    overflow: hidden;
    /* box-shadow: gray 0 3px 7px; */
    border: 1px solid rgb(180, 180, 180);
}

header{
    margin-top: 10px;
    width: 400px;
    height: 130px;
}

header h1{
    
    font: 300 60px 'Roboto', sans-serif;
    /* font-weight: bold; */
    color: black;
    text-align: center;
    line-height: 150px;
    /* text-shadow: 0 0 7px #000000; */
}

#error{
    border: 1px solid #ffa9a8;
    font: 300 25px 'Roboto', sans-serif;
    text-align: center;
    line-height: 50px;
    width: 400px;
    height: 50px;

    position: absolute;
    
    top: 0;
    left: 50%;
    margin-left: -200px;

    border-radius: 0 0 50px 50px ;
    background-color: #ff6a69;	/*white;*/
    color: white;/* #ff6a69; */
    outline: none;
    border-top: none;
    box-shadow: gray 0 3px 7px;
/*     display:none; */
}

.hidden{
    display: none;
}

content form{
    top: 30px;
    width: 400px;
    height: 170px;
    position: relative;
}

.textfield{
    position: absolute;
    left: 45px;
    width: 275px; height: 60px;
    padding-left: 55px; 
    margin:0px;
    background-color: #f2f2f2;
    border-radius: 50px;
    color: #9d9d9d;
    /* border: 1px solid rgb(180, 180, 180); */
    font-weight: 100;
   
}

input[type="text"]{
    top: 30px;
}

input[type="password"]{
    bottom: 0px;
}

.textfield:focus, .textfield:hover{
    background-color: rgb(201, 201, 201);
    border: none;
    outline: none;
    color: #a5a5a5;
}

/* icon */
.login_icon{
    position: absolute;
    left: 25px;
    width: 65px; height: 60px;
    margin: 0px; padding: 0px;
    border-radius: 50px 0 0 50px;
    z-index: 20;
    /* border: 1px solid rgb(180, 180, 180); */
}

#usericon{
    top: 30px;
<<<<<<< HEAD
    background: url("../images/user.png") center no-repeat #f2f2f2;
=======
    background: url("../images/login_user.png") center no-repeat #f2f2f2;
>>>>>>> d15eeb2c2f16ab40290dc6766ae9f80b0cb0d7be
}

#passwdicon{
    bottom: 0px;
<<<<<<< HEAD
    background: url("../images/password.png") center no-repeat #f2f2f2;
=======
    background: url("../images/login_password.png") center no-repeat #f2f2f2;
>>>>>>> d15eeb2c2f16ab40290dc6766ae9f80b0cb0d7be
}

.textfield:focus + #usericon{
    left: 10px;
<<<<<<< HEAD
    background: url("../images/user.png") center no-repeat #acacac;
=======
    background: url("../images/login_user.png") center no-repeat #acacac;
>>>>>>> d15eeb2c2f16ab40290dc6766ae9f80b0cb0d7be
}

.textfield:focus + #passwdicon{
    left: 10px;
<<<<<<< HEAD
    background: url("../images/password.png") center no-repeat #acacac;
=======
    background: url("../images/login_password.png") center no-repeat #acacac;
>>>>>>> d15eeb2c2f16ab40290dc6766ae9f80b0cb0d7be
}


#submit_button{
    position: absolute;
    bottom: 0px; left: 315px;
    width: 60px; height: 60px;
    padding: 0; margin: 0;
    border: 0;
<<<<<<< HEAD
    background: url("../images/submit.png") center no-repeat #ebebeb;
=======
    background: url("../images/login_submit.png") center no-repeat #ebebeb;
>>>>>>> d15eeb2c2f16ab40290dc6766ae9f80b0cb0d7be
    border-radius: 0 50px 50px 0;
    text-indent: -99999px;
    /* border: 1px solid rgb(180, 180, 180); */
}

#submit_button:hover{
<<<<<<< HEAD
    background: url("../images/submit.png") center no-repeat #acacac;
=======
    background: url("../images/login_submit.png") center no-repeat #acacac;
>>>>>>> d15eeb2c2f16ab40290dc6766ae9f80b0cb0d7be
}

/* animation  */
content form input, .login_icon{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}