h1 {
  text-align : center;
  text-shadow : 3px -1px gray;
  background : #f2f2f2;
  height : 260px;
  padding-top : 100px;
  margin : 0px;
}

#menu li {
  margin-left : 20px;
}

.tab {
  display : flex;
	flex-direction: column;
  height: 48px;
  width: 100px;
}

.tab div {
  height: 48px;
  line-height: 48px; /* height(#class a) */ /* for vertical align */
  text-align: center;
  background-color: #dfdfdf;
  font-size: 10px;
  font-weight: 300;
  color: black;
  margin-bottom: 5px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}

table tr[data-href] {
    cursor: pointer;
}

table td:hover{
  background-color: #EDE2FA !important;
}

table{
  width: 1145px;
  position: absolute;
  right: 381px;
  top: 290px;
	overflow: hidden;
  width: 1040px;
  border-radius: 0px 3px 3px 3px;
}

table th{
  background-color: #edf7fa;
  height: 30px;
  vertical-align: middle;
  font-family: 'Abel', "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  font-size: 17px;
}

#publications tr:nth-child(odd) td {
	background-color: grey;
}

#publications tr:nth-child(even) td {
	background-color: #dfdfdf;
}

#publications td{
	text-align: left;
  font-size: 16px;
  line-height: 20px;
	vertical-align: middle;
  padding: 10px;
}

#hl{
	height: 5px;
  padding: 0px;
	background-color: #70c8e9;
  clear: both;
}

footer[role="contentinfo"] {
  	height: 30px;
  	width: 1145px;
  	margin: 0 auto;
  	/*min-width: 1280px;  width(.container) */

  	line-height: 30px;
  }

  footer[role="contentinfo"] .container {
  	position: fixed;
  	bottom: 0px;
  	width: 1145px;
  	height: 30px;
  	z-index: 1;
  	border-radius: 3px 3px 0px 0px;
  	background-color: rgb(214, 214, 214);
  }

  footer[role="contentinfo"] p {
  	font-size: 9pt;
  	text-align: center;
  	font-weight: 100;
  	color:rgb(139, 139, 139);
  }
