h1 {
  text-align : center;
  text-shadow : 3px -1px gray;
  height : 260px;
  padding-top : 100px;
  background : #f2f2f2;
  margin : 0px;
}

p {
  width : 800px;
  margin : auto;
  text-align : center;
  text-shadow : 0.5px -1px gray;
  background : #f2f2f2;
}

a:link {
  color: black;
   text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

header {
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Arial;
}

nav {
  position: fixed;
  background-color: ghostwhite;
  width: 1140px;
  overflow: hidden;
  height: 50px;
  text-decoration: none; text-transform: uppercase;
 }

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  border-left: 1px solid #999;
  padding: 0 10px;
}

nav ul li a:hover, ul li a:focus {
  color: #FFF;
  border: 1px solid #F40;
  background-color: #F40;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
  padding: 0 10px;
  border-left: 1px solid #999;
  padding: 0 10px;
  margin-right: 0.5em;
  margin-top : 15px;
}

h3 {
  font-size : 30px;
  text-shadow : 1px -1px gray;
}

#logo img {
  width : 80px;
  height : 50px;
}

#menu li {
  padding-top : 15px;
}

#tab {
  float : left;
  overflow : hidden;
  margin-top : 20px;
  margin-left : 70px;
}

input[type = "text"] {
  text-align : center;
  width : 100px;
  height : 30px;
  background-color : white;
  margin-top : 3px;
  border : 1px thin #f2f2f2;
  border-radius : 12px;
  padding : 0.5em;
}

#main {
  background : #f2f2f2;
  color : #0d0d0d;
  width : 800px;
  margin : auto;
}

.wrap-subcontent {
  padding-left : 10px;
  padding-right : 10px;
}

#slides {
  width : 800px;
  margin : auto;
  background-color : #f2f2f2;
}

#lecture {
  float : left;
  overflow : hidden;
  vertical-align : top;
}

#lecture th {
  text-align : center;
  font-size : 30px;
  text-shadow : 1px -1px gray;
}

#lecture td {
  text-align : center;
  font-size : 15px;
  padding-top : 5px;
  padding-bottom : 5px;
}

#lab {
  float : right;
  overflow : hidden;
  vertical-align : top;
  padding-right : 25px;
}

#lab th {
  text-align : center;
  font-size : 30px;
  text-shadow : 1px -1px gray;
}

#lab td {
  text-align : center;
  font-size : 15px;
  padding-top : 5px;
  padding-bottom : 5px;
}
