html,body{
	height: 100%;
}
body{
	margin: 0;
}
header{
	background-color:skyblue;
	height: 10%;
	width: 100%;
	float: left;
}

.menu{
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.nav_link{
	margin-right: 20px;
}
main{
	/* float: left; */
	/* width: 100%; */
	height:100% ;
}
.in_nav{
	background-color: rgb(64, 108, 255);
	width: 100%;
	height: 10%;
}
@media screen and (min-width:800px) {
.list{
	margin-top: 1% ;
	float: left;
	width: 29.5%;
	height: 100%;
	border: 1px solid #9b9b9b;
	
	/* text-align: center; */
	
	/* background-color: rgb(240,240,240); */
}
.debatebox{
	float: right;
	width: 70%;
	height: 100%;
	
	/* border: 1px solid #9b9b9b; */
	/* background-color: pink; */
}
}

@media screen and (max-width: 800px) and (min-width: 320px){
	.list{
		margin-top: 1% ;
		float: left;
		width: 100%;
		height: 30%;
		border: 1px solid #9b9b9b;
		
		/* text-align: center; */
		
		/* background-color: rgb(240,240,240); */
	}
	.debatebox{
		float: right;
		width: 100%;
		height: 70%;
		
		/* border: 1px solid #9b9b9b; */
		/* background-color: pink; */
	}
}
.search{
	float: left;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 10%;
	line-height: 50px;
}
#searchbox{
	vertical-align: left;
	text-align: center;
	
}
/* .querybox{
	background: gray;
	width: 90%;
	height: 125px;
	border-radius: 15px;
	margin:3%; 
}*/

.debate_content{
	width: 100%;
	height: 60%;
	
}
.debate_relpy{
	height: 40%;
	position: relative;
    overflow-y: scroll;
}

.infobox{
	text-align: center;
	height: 25px;
	font-size:15px;
	/* border: 1px solid black; */
}

.number{
	float : left;
	margin:2%;
}

.writer{
	float:right;
	margin:2%;
}

.time{
	float:right;
	margin:2%;
}

.tagbox{
	/* text-align: center; */
	height: 20px;
	font-size:15px;
	border: 1px solid black;
}

.tag{
	float:left;
	/* margin-left:5%; */
}


.contents{
	text-align: left;
}
.bottom_infor{
	height: 13px;
    margin-top: 17px;
    display: flex;
	flex-direction: row;
	font-size: 13px;
    vertical-align: middle;
    align-items: center;
}

.write_infor{
	max-width: 30%;
    height: 19px;
    
    color: #9b9b9b;
    display: flex;
}

.name{
	text-overflow: ellipsis;
    /* overflow: hidden; */
    display: inline-block;
    white-space: nowrap;
	margin-right: 5px;
	color: #3f3f3f;
	font-weight: bold;
	
}

.time{
	min-width: 60px;
    margin-right: 20px;
}

.commentbox{
	float: left;
	margin:2%;
	margin-left: 3%;
	width: 90%;
}

/* .re_commentbox{
	float: left;
	margin:2%;
	margin-top:0%;
	margin-left: 5%;
	width: 90%;
} */



.comment-content{

}

.like{
	float:right;
	border: 1px solid black;
}

.title_tag{
	margin-bottom:10px;
}

.debate_tag{
	text-align: left;
	/* padding:3%; */
	width: 90%;
	border: 1px solid black;
}

.debate_content_container{
	height: 115px;
	border: 1px solid #f0f0f0;
	margin: 5px;
    padding: 15px 15px 8px;
    margin-bottom: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,.1);
    border-radius: 10px;
	cursor: pointer;
	background-color: white;
	overflow: hidden;
}
/* .debate_content_container_maincontainer{
	vertical-align: middle;
} */

.hr{
	border: 10px;
}
.debate_content_container_main{
	height: 50%;
	width: 90%;
	
    border: 1px solid #f0f0f0;
	padding: 15px 15px 1% 1%;
	margin: 3%;
    margin-bottom: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    cursor: pointer;
}
.tag_number{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    color: #9b9b9b;
}

.tag_catagory{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
	line-height: 100%;
	color: black;
}

.box{
	height: 48px;
    margin-top: 15px;
    display: block;
    vertical-align: middle;
}

.comment_container{
	padding-top: 13px;
    margin-right: 20px;
    margin-left: 7%;
}

.comment_contents_box{
	position: relative;
    display: flex;
    margin-top: 8px;
    margin-right: 10%;
}



.comment{
	border-radius: 15px;
    border-top-left-radius: 3px;
    /* border-bottom-left-radius: 3px; */
	width: 300px;
	height: 50px;
    background-color: #fff;
    padding: 9px 15px;
    font-size: 14px;
    font-family: inherit;
    line-height: 21px;
	color: #4b4b4b;
	border: 1px solid gray;
    display: flex;
    align-items: center;
}

.comment_text{
	border: none;
    color: inherit;
   
}

.comment_time{
	display: block;
    top: 30px;
    width: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 100%;
    color: #9b9b9b;
}

.comment_additional{
	display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    margin-left: 8px;
    margin-right: 0;
}

.heart{
	position: relative;
	display: inline-flex; 
    align-items: baseline; 
}
.heart_button{
	width: 20px;
    cursor: pointer;
}

.out_button{
	padding:5px;
	width: 20px;
    cursor: pointer;
}

.heart_num{
	font-family: inherit;
    font-weight: 800;
    font-size: 12px;
    margin-left: 1px;
}

.question_icon{
	width: 15px;
}

.search_icon{
	width:15px;
}

.comment_icon{
	width:15px; 
}

.icon_container{
	display: inline;
    flex-direction: row;
    justify-content: flex-end;
	margin-left: auto;
    /* margin-top: 10px; */
	/* float: right; */
}

.question_container{
	display: inline;
    flex-direction: row;
    padding-bottom: 1px;
}

.question_icon_num{
	color: #9b9b9b;
	vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 12px;
    display: inline-block;
    margin-top: 4px;
}

.comment_container{
	display: inline;
    flex-direction: row;
    padding-bottom: 1px;
}

.comment_icon_num{
	color: #9b9b9b;
	vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 12px;
    display: inline-block;
    margin-top: 4px;
}

.write_infor{
	/* max-width: 30%; */
    height: 19px;
    font-size: 13px;
    color: #9b9b9b;
    display: flex;
}

.add_content_icon{
	width: 40px;
	margin: 10px;
}

.question_button_icon{
	width: 28px;
	margin-top: 5px;
}

.question_button{
	margin : 5px;
	text-align: right;
}

.question{
	border: none;
	border-radius: 10px;
	background-color: rgb(201, 213, 252);
	
}
/* 
.question p{
	size:10pt;
} */
.titlebox{
	margin:20px 5px 5px 5px;
	height: 30%;
	overflow: hidden;
}

.title_text{
	font-size: 15px;
	
}

.titlebox_main{
	margin:20px 10px 10px 10px;
}

.title_text_main{
	font-size: 18px;
	font-weight: 500;
}

.contentsbox{
	margin:30px;
}

.comment_box{
	position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #f0f0f0;
}

.comment_input_container_box{
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 5px solid #f0f0f0;
    box-sizing: border-box;
    width: calc(100% - 46px);
}

.comment_input_text_container{
	position: relative;
    width: 100%;
}

.comment_input_text_area{
	max-height: 120px;
    overflow-y: auto;
    position: relative;
    padding: 7px 20px 8px;
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-family: inherit;
    resize: none;
    border-radius: 10px;
    color: transparent;
	text-shadow: 0 0 #4b4b4b;
	transition: color .3s ease;	
	margin-bottom: 0px;
}

.reply{
	display: flex;
    flex-direction: column-reverse;
    color: inherit;
}
.reply_container{
	border: none;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
}

.reply_input{
	width: 100%;
	/* height: 100%; */
	/* border: none; */
}

.scroll{
	overflow-y: scroll;
}

.enter_button{
	width: 20px;
}

.button{
	border:none;
	color:rgba(0,0,0,0);
}