.main{
    height: 100%;
}
@media screen and (min-width:950px) {
.question_box{
	/* height: 300px; */
	width: 50%;
    border: 2px solid #f0f0f0;
	padding: 15px 15px 1% 1%;
	margin: 3%;
    margin-bottom: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    /* cursor: pointer; */
    margin-top: 20%;
    margin-left: 25%;
    /* overflow-y: scroll; */
}}

@media screen and (max-width:950px) {
    .question_box{
        /* height: 300px; */
        width: 90%;
        border: 2px solid #f0f0f0;
        padding: 15px 15px 1% 1%;
        margin: 3%;
        margin-bottom: 10px;
        box-shadow: 0 5px 8px rgba(0,0,0,.1);
        border-radius: 10px;
        /* cursor: pointer; */
        margin-top: 20%;
        /* margin-left: 25%; */
        /* overflow-y: scroll; */
    }
}


.enter_button{
    width: 20px;
}

.out_button{
    width: 20px;
}

.button{
    border: none;
}

.textarea{
    resize: none;
    border:  1px solid #9b9b9b;
    overflow-y: scroll;
    width: 90%;
}

.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

.header{

    margin: 2%;
}

.infor{
    margin:2%;
    
}

.infor span {
    margin-right:3%
}
.text{
    margin:2%;
}



.fieldset{
    width: 90%;
    border: 1px solid #9b9b9b;
}

.tag{
    width: 90%;
}


input[class="tagbutton"] {
    -webkit-appearance: none;
    /* display: none; */
    appearance: button;
    color: #7a7a7a;
    /* border-radius: 5px;
    background: #fff;
    height: 30px;
    border: 1.5px solid #c7c7c7;
    line-height: 26px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */
}
.taglabel{
    display:inline-block;
    appearance: button;
    color: #7a7a7a;
    border-radius: 5px;
    background: #fff;
    height: 30px;
    border: 1.5px solid #c7c7c7;
    line-height: 26px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[class="tagbutton"]:checked {
    -webkit-appearance: none;
    color: #4b4b4b;
    appearance: button;
    border-radius: 8px;
    background: rgba(75,75,75,.05);
    /* border: 1.5px solid #fff; */
    /* height: 30px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */
}

#text_input{
    /* border: 1.5px solid #c7c7c7; */
    width:90%;

}
