html {
	overflow-y: scroll;
}

h1 {
  text-align : center;
  text-shadow : 3px -1px gray;
  background : #f2f2f2;
  height : 260px;
  padding-top : 100px;
  margin : 0px;
}

#menu li {
  margin-left : 20px;
}

.tab {
  display: flex;
	flex-direction: column;
  height: 48px;
  width: 100px;
}

.tab div {
  height: 48px;
  line-height: 48px; /* height(#class a) */ /* for vertical align */
  text-align: center;
  background-color: #dfdfdf;
  font-size: 15px;
  font-weight: 300;
  color: black;
  margin-bottom: 5px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}

.position{
  position: absolute;
  right: 381px;
  top: 290px;
	overflow: hidden;
	background-color: #dfdfdf;
  width: 1040px;
  min-height:480px;
  border-radius: 0px 3px 3px 3px;
}

#main h2{
	font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  margin: 0;
  background-color: grey;
  color: black;
  line-height: auto;
  height: 48px;
}

.human img{
	float: left;
}

#info li{
	word-break:break-all;
}

#main ul{
	list-style-image: url("/../members/images/list-img.png");
	float: left;
}

#main li{
	margin: 13px 0;
	margin-left: 30px;
}

.human{
	margin: 10px;
	overflow: hidden;
}

.photo{
	display: inline;
	float: left;
}

.name{
	margin-top: 5px !important;
	font-weight: bold;
	font-size: 20px;
}

#edit{
	float: right;
	margin-top: 159px
}

.photo{
	width: 140px;
	height: 175px;
}

#interest{
	float: right;
	width: 550px;
	height: 175px;
}

#interest li{
	line-height: 25px;
	margin-top: 5px;
}

#interest li:nth-of-type(1){
	list-style: none;
	margin: 0px 0px 0px 12px;
}

#info{
	float: left;
	width: 435px;
	height: 175px;
}

footer[role="contentinfo"] {
  	height: 30px;
  	width: 1145px;
  	margin: 0 auto;
  	/*min-width: 1280px;  width(.container) */

  	line-height: 30px;
  }

  footer[role="contentinfo"] .container {
  	position: fixed;
  	bottom: 0px;
  	width: 1145px;
  	height: 30px;
  	z-index: 1;
  	border-radius: 3px 3px 0px 0px;
  	background-color: rgb(214, 214, 214);
  }

  footer[role="contentinfo"] p {
  	font-size: 9pt;
  	text-align: center;
  	font-weight: 100;
  	color:rgb(139, 139, 139);
  }
