.main_section{
	background-image: url('../../resource/images/notice.jpg');
	background-size: cover;
}

/*공지사항의 테이블 속성 관련 css 입니다.*/
/* table 제목 */
caption{
	font-weight: bold;
}
table {
	width: 80%;
	transform: translate(10%,10%); /* 중앙 정렬 */
}
table, th, td {
	border: 1px solid #bcbcbc;
}
thead{
	background-color: gray;
}
/* table_out(table index) -> table_contents(내용) */
.table_out{
	cursor: pointer;
	background-color: skyblue;
}
.table_out > td{
	text-align: center;
}
.table_contents{
	background-color: pink;
}
/*table (end)*/