body {
  background-color: #ededed;
}

fieldset {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  padding: 20px;
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
}

legend {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

select {
  width: 23.6%;
  padding: 5px;
  display: inline-block;
  outline: none;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
}

input[type=text] {
  padding: 5px;
  display: inline-block;
  outline: none;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 1em;
}

#contents {
  margin-left: 20%;
}

#url {
  width: 74.5%;
}

input[type=submit] {
  margin-top: 1em;
  margin-left: 43%;
  width: 15%;
  padding: 10px;
  background-color: skyblue;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
