.main_section{
 	background-image: url('../../resource/images/research.jpg');
 	background-size: cover;
}
.research{
	margin: 5%;
	text-align: center;
}
#research_img{
	width: 90%;
  margin-top : 75px;
}
