.main_section {
  background-image : url("../../resource/images/course_2.jpg");
}

#present_course {
  border : 1px solid black;
  border-radius : 12px;
  background-color : #dcdcdc;
  margin-left : 20%;
  color : #0d0d0d;
  width : 60%;
  margin-top : 30px;
  padding : 20px;
}

#undergraduate_course {
  border : 1px solid black;
  border-radius : 12px;
  background-color : #dcdcdc;
  margin-left : 20%;
  color : #0d0d0d;
  width : 60%;
  margin-top : 30px;
  padding : 20px;
}

#postgraduate_course {
  border : 1px solid black;
  border-radius : 12px;
  background-color : #dcdcdc;
  margin-left : 20%;
  color : #0d0d0d;
  width : 60%;
  margin-top : 30px;
  padding : 20px;
}

#course_table {
  margin-top : 20px;
  margin-bottom : 20px;
  margin-left : 20px;
  margin-right : 20px;
  padding-top : 0px;
}

#course_table td {
  color : #0d0d0d;
  text-shadow : 0.5px -1px gray;
  height : 80px;
}

table th{
  font-size : 18px;
  text-shadow : 1px -1px gray;
  background-color : white;
	height: 45px;
	vertical-align: middle;
	text-align: center;
  margin : 0px;
}

table td{
	height: 40px;
  background-color : #f2f2f2;
	vertical-align: middle;
	padding: 0px;
	text-align: center;
  margin : 0px;
}

tr:nth-child(odd) td{
	background-color: white;
}

#first_table{
	float : left;
  overflow : hidden;
}

#first_table th:first-of-type{
	border-radius: 3px 0px 0px 0px;
}

#second_table{
	table-layout:fixed;
}

#second_table th{
	min-width: 70px;
}

#second_table th:last-of-type{
	border-radius: 0px 3px 0px 0px;
}

.coursenum{
	width: 70px;
  border:white;
}

.course{
	width: 310px;
  border:white;
}

.coursenum_active{
  width : 70px;
	background-color: skyblue !important;
	cursor: pointer;
  border : white;
}

.course_active {
  width : 310px;
  background-color: skyblue !important;
	cursor: pointer;
  border : white;
}

.couse_active:hover {
  background-color : red !important;
}

.circle {
	width: 15px;
	height: 15px;
	background-color: skyblue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}

.circle:hover {
  width : 20px;
  height : 20px;
  background-color : red;
}
