body {
  width : 100%;
  margin : 0;
  padding:0;
  overflow-x : hidden;
}


.tab_class {
  width : 1200px;
}

.mainbody {
  border : 1px solid black;
  border-radius : 12px;
  background-color : #dcdcdc;
  margin-left : 22%;
  color : #0d0d0d;
  width : 60%;
  margin-top : 30px;
  padding : 20px;
  padding-top : -5px;
}

#course_table {
  margin-top : 20px;
  margin-bottom : 20px;
  margin-left : 20px;
  margin-right : 20px;
  padding-top : 0px;
}

#course_table td {
  color : #0d0d0d;
  text-shadow : 0.5px -1px gray;
  height : 80px;
}

table th{
  font-size : 18px;
  text-shadow : 1px -1px gray;
  background-color : white;
	height: 45px;
	vertical-align: middle;
  border : 1px solid black;
	text-align: center;
  margin : 0px;
}

table td{
	height: 40px;
  background-color : #f2f2f2;
  border : 1px solid black;
	vertical-align: middle;
	padding: 0px;
	text-align: center;
  margin : 0px;
}

table tr td{
	border-bottom: 1px solid #dfdfdf;
  border : 1px solid black;
}


tr:nth-child(odd) td{
	background-color: white;
}

#first_table{
	float : left;
	border-right: 1px solid #dfdfdf;
  overflow : hidden;
}

#first_table th:first-of-type{
	border-radius: 3px 0px 0px 0px;
}

#second_table{
	table-layout:fixed;
}

#second_table th{
	min-width: 70px;
}

#second_table th:last-of-type{
	border-radius: 0px 3px 0px 0px;
}

#tab {
  float : left;
  margin-left : 12.1%;

}

#tab button {
  width : 120px;
  height : 50px;
  border : 1px solid black;
  background-color : white;
  color : black;
  padding-left : 10px;
  padding-right : 10px;
  float : right;
  text-align : center;
  text-shadow : 0.5px -1px gray;
}

#tab button:hover {
  height : 70px;
  color : black;
  background-color : #dcdcdc;
  border-right : 3px solid #dcdcdc;

}

#present {
  margin-top : 50px;
  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;
  margin-bottom : 10px;
}

#undergraduate {
  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;
  margin-bottom : 10px;
}

#postgraduate {
  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;
}

#over{
	overflow: auto;
}

#logo img {
  width : 80px;
  height : 50px;
}

#menu li {
  padding-top : 15px;
}

.coursenum{
	width: 70px;
}

.course{
	width: 310px;
	border-right: 2px solid #dfdfdf;
}

.active{
	background-color: #f4a460 !important;
	cursor: pointer;
}

.hovered{
	background-color: #83D9FF !important;
}

.circle {
	width: 15px;
	height: 15px;
	background-color: #f4a460;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}
