.main_section {
  background-image : url("../../resource/images/course_3.jpg");
}

.wrap-subcontent p {
  font-weight : bold;
  font-size : 20px;
  margin-top : 0;
  margin-bottom : 0;
}

a {
  color : black;
}

a:hover {
  color : blue;
}

h3 {
  color : skyblue;
  font-size : 40px;
  text-shadow : 1px -1px gray;
}

.wrap-subcontent {
  padding-left : 10px;
  padding-right : 10px;
}

#slides {
  border : 1px solid black;
  border-radius : 12px;
  background-color : #dcdcdc;
  margin-left : 20%;
  color : #0d0d0d;
  width : 60%;
  min-height: 600px;
  padding : 20px;
  margin-top : 30px;
}

#lecture {
  float : left;
  overflow: hidden;
  margin-left : 20px;
}

#lecture th {
  text-align : center;
  font-size : 30px;
  text-shadow : 1px -1px gray;
}

#lecture td {
  text-align : center;
  font-size : 18px;
  padding-top : 5px;
  padding-bottom : 5px;
}

#lab {
  float : right;
  overflow : hidden;
  margin-right : 20px;
}

#lab th {
  text-align : center;
  font-size : 30px;
  text-shadow : 1px -1px gray;
}

#lab td {
  text-align : center;
  font-size : 18px;
  padding-top : 5px;
  padding-bottom : 5px;
}
