body
{
    overflow-x: hidden;
    width: 100%; margin-left: 0; margin-top: 0;
    background-color: white;
}

/* nav */
nav 
{
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    background-color: #92B5D9;
    text-decoration: none; text-transform: uppercase;
    font-weight: bold; font-size: 18px;
}

nav ul li
{
    display: inline;
    list-style: none;
    color: ghostwhite;
    padding: 0 10px;
    
}

nav ul li a 
{
    display: inline; 
    color: ghostwhite; 
    text-align: center; text-decoration: none;}

.pull-left 
{
    float: left; margin-top: 25px; border-left: 2px solid #EDEDEF; padding: 0 10px;
}
.pull-right 
{
    float: right; border-left: 2px solid #EDEDEF; padding: 0 10px; margin-right: 0.5em; margin-top: 25px; color: ghostwhite;
}

/* INDEX MAIN IMAGE */


/* main */
#index_layout_1 {
    width: 90%;
    height: 500px;
    background: #92B5D9;
    margin: auto;
    text-align: center; text-decoration: none;
}
#index_notice {
    width: 45%;
    height: 500px;
    background: #D3D3D3;
    float: left;
}
#index_courses {
    margin-left: 2%;
    width: 45%;
    height: 500px;
    background: #D3D3D3;
    float: right;
}

#index_layout_2 {
    width: 90%;
    height: 1500px;
    background: #92B5D9;
    margin: auto;
    text-align: center; text-decoration: none;
}

#index_aboutus {
    width: 60%;
    height: 500px;
    background: #D3D3D3;
    bottom: 50%;
    margin: 0 auto;
}

#index_map {
    width: 60%;
    height: 500px;
    background: #D3D3D3;
    top: 50%;
    margin: 0 auto;
}
