body
{
    overflow-x: scroll;
    width: 100%; margin-left: 0; margin-top: 0; height: 100%;
    background-color: ghostwhite;
}

a:link {text-decoration: none; color: #333333;}
a:visited {text-decoration: none; color: #333333;}
a:active {text-decoration: none; color: #333333;}
a:hover {text-decoration: underline; color: #333333;}

/* NAV */
header {
    height: 70px;
    font-size: 1em;
    font-family :'Malgun Gothic', sans-serif;
  }
  nav {
    position: fixed;
    width: 100%;
    height: 80px;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #92B5D9;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    z-index: 1;
  }
  nav img{
    margin: 10px;
  }
  nav ul{
    height: inherit;
    margin: 0;
  }
  nav ul li{
    display: inline;
    list-style: none;
    color: black;
    margin: 5px;
  }
  
  nav ul li a {
    display: inline;
    color: black;
    text-align: center; text-decoration: none;
  }
  .nav-left{
   margin-top: 25px;
   border-left: 2px solid #EDEDEF;
   padding: 0 10px;
  }
  .nav-right{
    border-left: 2px solid #EDEDEF;
    padding: 0 10px;
    margin-right: 0.5em;
    margin-top: 25px;
    color: black;
  }

/* INDEX MAIN IMAGE */


/* main */
#index_layout_1 {
    width: 90%;
    height: 500px;
    background: #ECEFF1;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; text-decoration: none;
    font-family :'Malgun Gothic', sans-serif;
}
#index_notice {
    width: 45%;
    height: 90%;
    background: #ECEFF1;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
}

#index_notice h3 {
    text-decoration: none;
    font-size: 28px;
}

#index_courses {
    margin-left: 2%;
    width: 45%;
    height: 90%;
    background: #ECEFF1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}

#index_courses h3 {
    text-decoration: none;
    font-size: 28px;
}

#index_layout_2 {

    width: 90%;
    height: 800px;
    background: #ECEFF1;
    margin: auto;
    text-align: center; text-decoration: none;
    font-family :'Malgun Gothic', sans-serif;
}

#index_aboutus {
    width: 60%;
    height: 500px;
    background: #ECEFF1;
    bottom: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#index_aboutus h3 {
    text-decoration: none;
    font-size: 28px;
}

#index_aboutus p {
    text-decoration: none;
    font-size: 16px;
}

#index_map_info {
    width: 50%;
    height: 90%;
    background: #ECEFF1;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
}

#index_map_info h3 {
    text-decoration: none;
    font-size: 28px;
}

#index_map {
    width: 50%;
    height: 90%;
    background: #ECEFF1;
    top: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    float: right;
}
